/* Импорт базовых стилей */
@import 'base/reset.css';
@import 'base/typography.css';
@import 'base/variables.css';


/* Импорт стилей страниц */
@import 'pages/index.css';
@import 'pages/register.css';

/* * {
    outline: 2px solid green;
} */

body {
    font-size: 20px;
    font-family: Jost;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-weight: 700;
    text-transform: uppercase;
}

svg {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
}