ErrorDocument 404 /error_page.php
ErrorDocument 403 /error_page.php

Options -Indexes

<FilesMatch "^(\.htaccess|\.gitattributes|\config.php|\.gitignore)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

RewriteEngine On
RewriteBase /

# Если URL содержит .php и после него идёт что-то ещё — редиректим на корректный
RewriteCond %{REQUEST_URI} ^(.+\.php)/.*$
RewriteRule ^(.+\.php)/.*$ /$1 [R=301,L]

# Удаляем конечный слеш для не-директорий
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Убираем .php из URL (редирект)
RewriteCond %{THE_REQUEST} ^[A-Z]+\s([^.]+)\.php[\s?] [NC]
RewriteRule ^ %1 [R=301,L]

# Внутреннее перенаправление: файл.php → по URL без .php (1 уровень)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# Внутреннее перенаправление: /dir/file → /dir/file.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

# Последняя проверка: 404 для несуществующих файлов
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /error_page.php [L]

# Правило для удаления index.php из URL-адресов подкаталогов
RewriteCond %{REQUEST_URI} ^/([^/]+)/index\.php$ [NC]
RewriteRule ^([^/]+)/index\.php$ /$1/ [R=301,L]

# Правило для внутреннего перенаправления запросов к каталогу на index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/?$ /$1/index.php [L]