* {
    /* outline: 4px solid green; */
}


/* Шрифты */
@font-face {
    font-family: 'Jost';
    src: url('./src/fonts/Jost-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./src/fonts/Jost-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./src/fonts/Jost-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('./src/fonts/Jost-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Переменные */
:root {
    --accent: #ff8a42;
    --placeholder: #969696;
    --black: #222222;
    --white: #fdfdfd;

    --border-radius: 5px;

    --container-width: 1080px;
    --container-padding-x: 100px;
    --max-container-width: calc(var(--container-width) + (var(--container-padding-x) * 2));
}


/* Стили */
body {
    font-size: 20px;
    font-family: Jost;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
}

h1,
h2,
h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.container {
    max-width: var(--max-container-width);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
    margin-top: 100px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    column-gap: 30px;
    max-width: var(--max-container-width);
    margin-inline: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.logo-icon {
    width: 100px;
    cursor: pointer;
}

.logo-text {
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.stroy {
    color: var(--accent);
}

.header-contact-box {
    column-gap: 20px;
    display: flex;
}

.header-contact-text {
    font-weight: 500;
    line-height: 1.75;
    flex-shrink: 0;
}

.icon {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

.mail-icon {
    margin-top: 2px;
}

.contact-phone {
    font-size: 18px;
}

.account-button {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.account-icon {
    width: 25px;
}

.account-button-text {
    font-size: 24px;
}

.header-menu {
    display: flex;
    justify-content: center;
    background-color: var(--accent);
    box-shadow: 0 8px 24px 0 rgba(86, 33, 0, 0.12);
}

.header-menu-list {
    display: flex;
    justify-content: center;
}

.header-menu-link {
    column-gap: 10px;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;
    color: var(--white);
    transition: .2s cubic-bezier(.17, .84, .44, 1);
    cursor: pointer;
    width: max-content;
}

.header-menu-link:active {
    color: var(--black);
    background-color: var(--white);
}

.header-menu-item {
    position: relative;
}

.header-menu-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0;
    background-color: var(--white);
    transition: 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.header-menu-item:hover::before {
    height: 10px;
}

.header-menu-text {
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.is-current {
    color: var(--black);
    background-color: var(--white);
}

.slider-box {
    padding-inline: 0;

}


/* Адаптив */
@media (max-width: 1279px) {
    .logo-text {
        font-size: 32px;
    }
}

@media (max-width: 1024px) {
    .logo-icon {
        width: 75px;
    }

    .header-contact-text {
        font-size: 16px;
    }

    .account-button-text {
        font-size: 16px;
    }

    .contact-phone {
        font-size: 14px;
    }

    .logo-text {
        font-size: 28px;
    }

    .header-menu-link {
        padding: 15px 15px;
    }

    .header-menu-text {
        font-size: 18px;
    }

}

@media (max-width: 768px) {
    .header-menu {
        display: none;
    }

    .logo-text {
        font-size: 20px;
    }

    .logo-icon {
        width: 50px;
    }

    .account-icon {
        min-width: 25px;
        margin: 0;
    }

    .account-icon {
        margin: 0;
    }
}


@media (max-width: 660px) {
    .account-button-text {
        display: none;
    }


}

@media (max-width: 480px) {
    :root {
        --container-width: 372px;
        --container-padding-x: 20px;
    }

    .slider-box {
        max-width: 100%;
    }
}

@media (max-width: 360px) {}