.leave_review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.leave_review-block {
    position: relative;
    width: 100%;
    padding: 15px;
    border-radius: var(--border-radius);
    background-color: var(--accent);
    box-shadow: var(--shadow);
}

@media (min-width: 1023px) {
    .leave_review .action_button {
        align-self: end;
    }
}