.sign-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sign__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    border-radius: var(--border-radius);
    background: var(--white);
}

.sign__inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sign__inputs-textfields {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sign__textfield-block {
    font-weight: 600;
}

.sign__textfield {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    outline: none;
    box-shadow: var(--shadow);
    font-weight: 500;
    font-size: var(--normal-text);
    transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sign__textfield::placeholder {
    color: var(--placeholder);
}

.sign__textfield:focus {
    transform: scale(1.02);
    border-color: var(--accent);
    box-shadow: 0 0 0 2px rgba(255, 138, 66, 0.144);
}

.sign__textfield:hover {
    border-color: var(--accent);
}

.sign__textfield-text {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--black);
}

.sign__textfield-icon {
    width: 12px;
}

.sign_other-text {
    color: var(--black);
    font-weight: 500;
    text-align: center;
}

.sign_other-link {
    position: relative;
    color: var(--accent);
    transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sign_other-link::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: var(--accent);
    content: '';
    transition: transform .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sign_other-link:hover::after {
    transform: scaleX(1);
}

.sign-error {
    width: 100%;
    padding: 10px;
    border: 3px solid var(--red);
    border-radius: var(--border-radius);
    box-shadow: 0 6px 6px 0 var(--red)2e;
    color: var(--red);
    font-weight: 500;
    text-align: center;
}

.readonly-field {
    color: var(--placeholder);
}

.readonly-field:hover {
    border-color: transparent !important;
}

.requred_star {
    color: var(--red);
}

@media (min-width: 659px) {
    .sign__form {
        padding: 50px 30px;
    }
}

@media (min-width: 767px) {
    .sign__form {
        width: 400px;
        padding: 40px 20px;
        border: 4px solid var(--accent);
        box-shadow: var(--shadow);
    }

    .action_button {
        width: 100%;
        padding-block: 15px;
    }
}

@media (min-width: 1023px) {
    .sign__form {
        width: 450px;
    }

    .sign__textfield-block span {
        font-size: 18px;
    }

    .sign__textfield-icon {
        width: 14px;
    }

    .sign_other-link {
        font-size: 18px;
    }

    .sign__inputs {
        gap: 50px;
    }
}

@media (min-width: 1279px) {
    .sign-wrapper {
        gap: 50px;
    }

    .sign__form {
        width: 500px;
    }
}