.textarea-block {
    position: relative;
}

.textarea {
    width: 100%;
    min-height: 75px;
    padding: 15px;
    overflow: hidden;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    box-shadow: var(--shadow);
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    text-align: start;
    resize: none;
}

.textarea::placeholder {
    color: var(--placeholder);
}

.chars_counter {
    position: absolute;
    right: 3%;
    bottom: 10%;
    font-weight: 500;
}

.chars_counter.full {
    color: var(--red);
    animation: shake 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(5px);
    }
}


@media (min-width: 1023px) {
    .leave_review-block {
        padding: 30px;
    }

    .chars_counter {
        right: 2%;
        bottom: 10%;
        font-size: 14px;
    }
}


@media (min-width: 1279px) {
    .chars_counter {
        right: 2%;
        bottom: 10%;
        font-size: 16px;
    }
}