/* Импорт компонентов */
@import '/css/base/base.css';

@import '/css/components/header.css';
@import '/css/components/footer.css';
@import '/css/components/action_button.css';
@import '/css/components/our_projects.css';
@import '/css/components/reviews.css';
@import '/css/components/services_cards.css';

@import 'index/slider.css';
@import 'index/advantages.css';

.map-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.map-wrapper iframe {
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}