/* Импорт компонентов */
@import '/css/base/base.css';
@import '/css/components/header.css';
@import '/css/components/footer.css';
@import '/css/components/action_button.css';

.orders-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.orders {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.order-top {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    background: #FFF;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.order-top-text {
    align-self: stretch;
    color: var(--accent);
    font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
    font-weight: 700;
    line-height: 25px;
}

.order-main {
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.order-text {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    background: #FFF;
}

.order-text-main {
    display: flex;
    gap: 5px;
    align-items: center;
}

.order-avatar {
    width: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.order-user {
    align-self: stretch;
    color: var(--black);
    font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
    font-weight: 700;
    line-height: 25px;
}

.order-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order-text-title {
    color: var(--black);
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    font-weight: 700;
}

.order-text-description {
    color: var(--black);
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    font-weight: 500;
}

.order-bottom {
    align-self: stretch;
    color: var(--placeholder);
    text-align: right;
    font-size: .75rem;
    font-weight: 500;
    padding-inline: 20px;
}

.order-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    font-weight: 700;
    filter: grayscale(1);
    transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.order-button:hover {
    filter: grayscale(.5);
}

.order-button.active {
    filter: grayscale(0);
}

.order-button.green {
    background-color: var(--green);
}

.order-button.yellow {
    background-color: #FFBC40;
}

.order-button.red {
    background-color: var(--red);
}

@media (min-width: 1023px) {
    .orders {
        grid-template-columns: 1fr 1fr;
    }

    .order-button {
        padding: 15px;
    }
}